.universitetes {
  width: 300px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.universitetes-select {
  margin-bottom: 20px;
}

.universitetes-item {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  text-align: start;
}

.universitetes-error {
  color: red;
}