body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    height: 100%;
    padding: 0;
}

#sidebar {
    flex: 1;
    padding-top: 20px;
}

#root-container {
    flex: 6;
    padding-top: 20px;
}

nav > ul{
    list-style-type: none;
}

nav li{
    margin: 10px 0;
}

nav li .active {
    color: black;
}

nav a {
    display: block;
    text-decoration: none;
    width: 115px;
    padding: 10px;
    text-align: center;
    line-height: 25px;
    color: gray;
    font-weight: bold;
}

a:hover {
    color: black;
}